.table-input {
  background-color: transparent;
  border: 0;
  text-align: start;
  width: 100%;
}

.correct-button {  
  display: flex;  
  align-items: center;
  
  img {  
    width: 15px;
    height: 15px;    
  }  

  span {
    margin: 0 5px;
  }

  &:disabled {
    img {
      filter: opacity(0.2);
    }
  }
}