.table-input {
  background-color: transparent;
  border: 0;
  text-align: center;
  width: 100%;
}

.correct-button {
  background: url("../../shared/img/edit-text-svgrepo-com.svg") 5% no-repeat;
  background-size: contain;
  padding-left: 30px;
}