.search-field {
  border: 2px solid black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  // justify-content: space-between;

  img {
    width: 15px;
    height: 15px;
    margin: 0 2px;
  }

  input {
    height: 65%;
    margin: 0 2px;
    padding: 0 2px;
    min-width: 45px;
    max-width: 75px;
  }  
}

@media screen and (min-width: 880px) {
  .search-field {
    padding: 0 5px;

    input {
      min-width: 150px;
    }
  }
}